# Chainlink Node Configuration
ETHEREUM_NODE_URL=https://ethapi01.brassey.io
ETHEREUM_WS_URL=wss://ethapi01.brassey.io
CHAINLINK_USER=chainlink
CHAINLINK_GROUP=chainlink
CHAINLINK_HOME=/opt/chainlink
CHAINLINK_LOG_DIR=/var/log/chainlink
CHAINLINK_WEB_PORT=6688
CHAINLINK_BINARY=/usr/local/bin/chainlink
CHAINLINK_DB_NAME=chainlink
CHAINLINK_DB_USER=chainlink
CHAINLINK_DB_HOST=localhost
CHAINLINK_DB_PORT=5432
CHAINLINK_SERVICE_NAME=chainlink.service
CHAINLINK_SERVICE_FILE=/etc/systemd/system/chainlink.service
TEMP_DIR=/tmp
CREDENTIALS_FILE=~/chainlink_credentials.txt
ADMIN_USERNAME=admin
DEFAULT_PASSWORD=password123